.config/tmux/plugins/*
.config/github-copilot
.config/astro
.config/btop
.config/nextjs-nodejs
.config/nvim/lazy-lock.json
.config/hypr/shaders
.config/gws
.config/gcloud

# In .ssh, only version config
.ssh/*
!.ssh/config
